env/
.DS_Store
Docker/__pycache__

venv/

#Cisco's venv folder name
4300-IR/

*.pyc
__pycache__/

instance/
data.db

.pytest_cache/
.coverage
htmlcov/

dist/
build/
*.egg-info/
helpers/*
json_template/

# Large files
data/datasets/programs_kaggle.csv
data/datasets/programs_kaggle_clean.csv
data/gym_dataset.zip

# Node/React
node_modules/
frontend/dist/
frontend/node_modules/
package-lock.json

.env

#Context files
context/
.claude/